@media (max-width: 650px) {
    body {
        margin: 0;
    }

    h6, h5, h4, h3, h2, h1, p {
        margin: 0;
    }

    body .wrapper {
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
    }


    body .wrapper main {
        background-color: rgb(221 221 221);
        min-height: calc(100% - 175px);
    }


    .currentProposedNewDiv {
        max-width: 250px;
        min-height: 250px;
    }

    .titleArticle {
        max-height: 38px;
        font-size: 15px;
    }

    .time {
        font-size: 12px;
        letter-spacing: 0px;
    }

    .spanReadMore {
        padding: 5px;
    }

    .imgStyle {
        width: 200px;
    }
}
