body .wrapper header {
    background: #3d3d3d;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 40px 1px inset #00000024;
}

body .wrapper header nav {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .wrapper header nav a {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 25px;
    padding: 0 15px 0 15px;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
    font-family: cursive;
    border-bottom: 2px solid transparent;
}

body .wrapper header nav a:hover {
    text-decoration: none;
    background-color: #5b5b5b;
    border-bottom: 2px solid red;
    z-index: 2;
}

.title {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    background-color: rgba(162, 3, 33, 0.63);
    box-sizing: border-box;
    color: white;
    letter-spacing: 1px;
    box-shadow: 0px 0px 8px 1px inset #232323;
    font-size: 25px;
}

