body {
    margin: 0;
}

h6, h5, h4, h3, h2, h1, p {
    margin: 0;
}

body .wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}


body .wrapper main {
    background-color: rgb(221 221 221);
    min-height: calc(100% - 145px);
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

